.App {
    text-align: center;
    height: 100vh;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    height: 10vh;
    font-size: 2.5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-link {
    color: #09d3ac;
}

.LogOut {
    position: fixed;
    right: 15vmin;
    top: 15vmin;
}

